@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.header-wrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px 0 rgba(103, 82, 220, 0.55);
}